@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<CarDealerView.Controllers.HomeController> Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomeMessage"]</h1>
    <p>@Localizer["WelcomeText"]</p>
    <h1>@ViewData["UICulture"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
